<div class="jumbotron ">
        <h3 class="text-center">Show User Information</h3>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>first Name</th>
                    <th>last Name</th>
                    <th>Email</th>
                    <th>incrypt form Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.fname}}</td>
                    <td>{{user.lname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td><button class="btn btn-danger" ng-click="remove(contact.id)">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href=""><button class="btn btn-warning"ng-click="">Edit</button></a></td>
                </tr>
            </tbody>
        </table>
      <button class="btn btn-warning" ng-click="map()">map</button></td>
</div>
<img src="img/compny.jpg" width="50%"><img src="img/compny.jpg" width="50%">
<div width="100%" height="50%" style="background-color:pink;"></div>
