<div class="jumbotron " ng-init="showContact()">
	<p class="text-center">{{ tagline }}</p>
    	<div class="container">
      	<h3 class="text-center">Show Contact List</h3>
      	<table class="table table-responsive">
      		<thead>
      			<tr>
      				<th>Name</th>
      				<th>Email</th>
      				<th>Number</th>
                              <th>Gender</th>
                              <th>Year</th>
                              <th>Subjects</th>
      				<th>Action</th>
      			</tr>
      		</thead>
      		<tbody>
      			<tr ng-repeat="contact in contactList">
      				<td>{{contact.name}}</td>
      				<td>{{contact.email}}</td>
      				<td>{{contact.number}}</td>
                              <td>{{contact.gender}}</td>
                              <td>{{contact.year}}</td>
                              <td>{{contact.subj1}} {{contact.subj2}} {{contact.subj3}} {{contact.subj4}}</td>
      				<td><button class="btn btn-danger" ng-click="remove(contact.id)">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="/edit/{{contact.id}}"><button class="btn btn-warning"ng-click="edit()">Edit</button></a></td>
      			</tr>
      		</tbody>
      	</table>
           
      </div>
</div> 