<div class="jumbotron text-center">
    <p>{{ tagline }}</p>


    <div class="container">
      	<h2>Add Contact</h2>
             <form name="contactForm">
      	<table class="table">
      		<thead>
      			<tr>
      				<th><label>Name<i style="color:red">*</i></label></th>
      				<th><label>Email<i style="color:red">*</i></label></th>
      				<th><label>Mobile Number<i style="color:red">*</i></label></th>
      			</tr>
      		</thead>
      		<tbody>
      			<tr>
      				<td>
                     <div class="form-group">
                         <input type="text"name="name"class="form-control" ng-model="contact.name">
                         <i id="validitionMsg1"style="color:red;padding-left:150px;">{{msg1}}</i>
                      </div>
              </td>
      				<td>
                     <div class="form-group">
                       <input type="email"name="email"class="form-control" ng-model="contact.email">
                       <i id="validitionMsg2"style="color:red;padding-left:150px;" >{{msg2}}</i>
                      </div>
               </td>
      				<td>
                        <div class="form-group">
                          <input type="number"name="number"class="form-control" string-to-number ng-model="contact.number">
                          <i id="validitionMsg3"style="color:red;padding-left:150px;">{{msg3}}</i>
                          </div>
                          
                </td>
      			</tr>
      		</tbody>
          <thead>
            <tr>
              <th><label>Gender</label></th>
              <th><label>Subject</label></th>
              <th><label>Year</label></th>
               <!-- <th><label>Location</label></th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                     <div class="form-group">
                          <label class="radio-inline">
                                <input type="radio" name="gender" ng-model="contact.gender" value="Male"> Male</input>
                          </label>
                          <label class="radio-inline">
                                <input type="radio" name="gender" ng-model="contact.gender"value="Female"> Female</input>
                          </label>
                      </div>
              </td>
              <td>
                     <div class="form-group">

                          <label class="checkbox-inline">
                              <input type="checkbox" name="subjects" ng-model="contact.subj1" ng-true-value="'MCA'"ng-false-value="null" ng-init="contact.subj1=contact.subj1"> MCA
                          </label>
                          <label class="checkbox-inline">
                              <input type="checkbox" name="subjects" ng-model="contact.subj2" ng-true-value="'MBA'"ng-false-value="null"ng-init="contact.subj2=contact.subj2"> MBA
                          </label>
                          <label class="checkbox-inline">
                              <input type="checkbox" name="subjects" ng-model="contact.subj3" ng-true-value="'Mtech'"ng-false-value="null"ng-init="contact.subj3=contact.subj3"> M.tech 
                          </label>
                          <label class="checkbox-inline">
                              <input type="checkbox" name="subjects" ng-model="contact.subj4" ng-true-value="'Btech'"ng-false-value="null"ng-init="contact.subj4=contact.subj4">  B.tech
                          </label>                       
                      </div>
               </td>
              <td>
                  <div class="form-group">
                  <select ng-model="contact.year" ng-options="item.year for item in years">
                    <option value="">--year--</option>
                  <!-- <option ng-repeat="item in years" ng-selected="selectedItemvalue==contact.year"value="{{contact.year}}"></option> -->
                    
                  </select>
                          </div>          
              </td>
              
            </tr><tr><td></td>
                     <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button>&nbsp;&nbsp;

                     <td></td>
                  </tr>
          </tbody>
      	</table>
  <!--      {{contact}}  -->
      </form>
      </div> 
      <i id="submitMsg" style="font-weight:bold; color:green; font-size: 200%;">{{submitData}}</i>
  
</div>
