<!-- public/views/nerd.html -->

<div class="jumbotron text-center" ng-init="showContact()">
	<p>{{ tagline }}</p>
    	<div class="container">
      	<h3>Show Contact List</h3>
      	<table class="table" border="0">
      		<thead>
      			<tr>
      				<th>Name</th>
      				<th>Email</th>
      				<th>Number</th>
      				<th>Action</th>
      			</tr>
      		</thead>
      		<tbody>
      			<tr>
      				<td><input class="form-control" ng-model="contact.name"></td>
      				<td><input class="form-control" ng-model="contact.email"></td>
      				<td><input class="form-control" ng-model="contact.number"></td>
                  <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deSelect()">Clear</button>&nbsp;</td>
      			</tr>
      			<tr ng-repeat="contact in contactList">
      				<td>{{contact.name}}</td>
      				<td>{{contact.email}}</td>
      				<td>{{contact.number}}</td>
      				<td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-warning "ng-click="edit(contact._id)">Edit</button></td>
      			</tr>
      		</tbody>
      	</table>
         
      </div>
</div>