<div class="jumbotron text-center">
    <p>{{ tagline }}</p>
    <div class="container">
      	<h1>Contact List App</h1>
             <form name="userForm" ng-submit="">
      	<table class="table">
      		<thead>
      			<tr>
      				<th><label>Name<i style="color:red">*</i></label></th>
      				<th><label>Email<i style="color:red">*</i></label></th>
      				<th><label>Number<i style="color:red">*</i></label></th>
      				<th>Action</th>
      			</tr>
      		</thead>
      		<tbody>
      			<tr>
      				<td>
                                    <div class="form-group">
                                          <input type="text"name="name"class="form-control" ng-model="contact.name" required>

                                          <span style="color:red" ng-show="userForm.name.$dirty && userForm.name.$invalid">
                                             <i class="glyphicon glyphicon-remove"></i>
                                             <span ng-show="userForm.name.$error.required">Name is required.</span>
                                          </span>
                                          <span style="color:red" ng-show="userForm.name.$dirty && userForm.name.$valid-required">
                                           <i class="glyphicon glyphicon-ok "style="color:green"></i>
                                          </span>
                                    </div>
                              </td>
      				<td>
                                    <div class="form-group">
                                          <input type="email"name="email"class="form-control" ng-model="contact.email"required>
                                               
                                                <span style="color:red" ng-show="userForm.email.$dirty && userForm.email.$invalid">
                                                <i class="glyphicon glyphicon-remove"></i>
                                                 <span style="color:red"ng-show="userForm.email.$error.required">Email is required.</span>
                                                <span style="color:red"ng-show="userForm.email.$error.email">Invalid email address.</span>
                                               </span>
                                        <span style="color:red" ng-show="userForm.email.$dirty && userForm.email.$valid-required">
                                                <i class="glyphicon glyphicon-ok"style="color:green"></i>
                            </span>
                                    </div>
                              </td>
      				<td>
                                    <div class="form-group">
                                         <input type="number"name="number"class="form-control" ng-model="contact.number"required>
                                         <span style="color:red"ng-show="userForm.number.$dirty&& userForm.number.$invalid"> 
                                            <i class="glyphicon glyphicon-remove"></i>
                                            <span style="color:red"ng-show="userForm.number.$error.required">Mobile no. is required.</span>
                                          </span>
                                         <span style="color:red"ng-show=" userForm.number.$dirty&&userForm.number.$valid-required"><i class="glyphicon glyphicon-ok"style="color:green"></i></span>
                                    </div>
                              </td>
      				<td><button class="btn btn-primary" ng-disabled="userForm.name.$invalid && userForm.email.$invalid"ng-click="addContact()">Add Contact</button></td>
      			</tr>
      		</tbody>
      	</table></form>
         
      </div>
</div>