<html lang="en" >
   <head>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
      <script  src="app.js"></script>
      <link rel="stylesheet" href="style.css">    
   </head>
   <body ng-app="firstApplication"> 
      <div class="frameContainer" ng-controller="frameController"layout layout-align="center"layout-wrap style="padding-bottom:0px;padding-left:1px;padding-right:1px;">
      
         <md-whiteframe class="md-whiteframe-1dp"  layout="row" flex-xs="100" flex-gt-sm="70" flex-gt-md="60" layout layout-align="left"style="height:25%;background-color:;">
            <img src="bonadea.jpg" style="width:150px;height:100px;">
            <span style="font-size:32px;color:;font-weight:bold;padding-left:10px;">Bonadea Mhealth</span>
         </md-whiteframe>
         <md-whiteframe class="md-whiteframe-2dp" layout="row" flex-xs="100" flex-gt-sm="70" flex-gt-md="60"layout layout-align="center center"style="background-color:#DCDCDC;"ng-click="ShowHide('whFrm3')">

                  <div layout="column" flex="20" layout layout-align="center center">kcjxv
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv1
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv1
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv1
                  </div>
         </md-whiteframe>
         <md-whiteframe class="md-whiteframe-3dp" ng-hide="IsHidden" id="whFrm3"layout="row" flex-xs="100" flex-gt-sm="70" flex-gt-md="60"layout layout-align=""style="padding-left:3px;padding-right:3px">
                    <p>Tutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examples.Tutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examplesTutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examplesTutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examples</p>  
         </md-whiteframe>
         <md-whiteframe class="md-whiteframe-4dp" style="background-color:#DCDCDC;"layout="row" flex-xs="100" flex-gt-sm="70" flex-gt-md="60"layout layout-align="center center"ng-click="ShowHide('whFrm5')">

                  <div layout="column" flex="20" layout layout-align="center center">kcjxv
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv2
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv2
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv2
                  </div>
         </md-whiteframe>
          <md-whiteframe class="md-whiteframe-5dp" ng-hide="IsHidden1" id="whFrm5"layout="row" flex-xs="100" flex-gt-sm="70" flex-gt-md="60"layout layout-align=""style="padding-left:3px;">
                    <p>Tutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examples.Tutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examplesTutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examplesTutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examples</p>  
         </md-whiteframe>
         <md-whiteframe class="md-whiteframe-6dp" style="background-color:#DCDCDC;"layout="row" flex-xs="100" flex-gt-sm="70" flex-gt-md="60"layout layout-align="center center" ng-click="ShowHide('whFrm7')">
      
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv3
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv3
                  </div>
                  <div layout="column" flex="20" layout layout-align="center center">kcjxv3
                  </div>
           </md-whiteframe>
          <md-whiteframe class="md-whiteframe-7dp" ng-hide="IsHidden2"id="whFrm7"layout="row" flex-xs="100" flex-gt-sm="70" flex-gt-md="60"layout layout-align=""style="padding-left:3px;">
                    <div layout="column" flex="65">
                        flex-65<p>Tutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, wherein you can edit your code and try
                   out different possibilities of the examples.Tutorials Point is a place for beginners in all technical areas.
                   This website covers most of the latest technologies and explains each of 
                   the technology with simple examples. You also have a 
                   <b>tryit</b> editor, </p>
                    </div>
                    <div layout="column"ng-repeat="item in items" style="background-color:DCDCDC;">
                        <div layout="row" flex="10">
                            {{item.name}}
                        </div>
                        <div layout="row" flex="10">
                             {{item.email}} 
                        </div>
                        <div layout="row" flex="10">
                            {{item.number}}
                        </div>
                  </div>
         </md-whiteframe>
      </div>
   </body>
</html>