doctype html

html
    head
        title Cotización PDF
        | <style type="text/css">
        |   body{ color: green; }
        | </style>

    body
        h1 Test Jade convert to PDF #{rows.id} #{rows.name} #{rows.city}