html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body
    .container
      .row
        .col-md-3.col-xs-0
        .col-md-6.col-xs-12(style='font:Roboto;background-color:#4885ed;padding-right:0px;padding-top:12px;')
          .row
            .col-md-7.col-xs-7
              span(style='font-size:16;color:white;') < Dr. Name >
            .col-md-5.col-xs-5
              span(style='font-size:16;color:white;') < Hospital Name >
          .row(style='font-size:12;color:white;')
            .col-md-7.col-xs-7
              span < Degree name1 >
            .col-md-5.col-xs-5
              span < Address line1 >
          .row(style='font-size:12;color:white;')
            .col-md-7.col-xs-7
              span < Degree name2 >
            .col-md-5.col-xs-5
              span < Locality name >
          .row(style='font-size:12;color:white;padding-bottom:15px;')
            .col-md-7.col-xs-7
              span < Degree name3 >
            .col-md-5.col-xs-5
              span < City name >
          .row(style='background-color:white;padding-top:10px;')
            .col-md-6.col-xs-6
              .row
                .col-md-3.col-xs-3
                  span
                    img(src="img/profile.png" height="40")
                .col-md-9.col-xs-9
                  .row(style='font-weight:bold;') < Name >
                  .row(style='font-weight:;') < Age/gender >
                  .row(style='font-weight:;') < Date >
                  .row(style='font-weight:;') Order ID :< ID >
            .col-md-2.col-xs-2
              .row
                .col-md-6.col-xs-6(style='color:#4885ed;padding-left:0px;')
                  .row(style='padding-bottom:5px;') Follow up
                  .row(style='padding-bottom:5px;') Refer to
                  .row Refer to
                .col-md-3.col-xs-3(style="text-align:right;")
                  .row(style='padding-bottom:5px;')
                    span
                      img(src="img/icon_calender.png" height="20")
                  .row(style='padding-bottom:5px;')
                    span
                      img(src="img/icon_speciality.png" height="20")
                  .row
                    span
                      img(src="img/icon_doctor.png" height="20")
            .col-md-3.col-xs-3(style="padding-left:px;")
              .row(style='padding-bottom:5px;') < Date>
              .row(style='padding-bottom:5px;font-weight:;') < Name of speciality>
              .row(style='font-weight:;')  < Name of doctor>
          .row(style='background-color:white;padding-top:15px;padding-bottom:10px;')
            table(width="97%" border="0" style="border-bottom:1px solid #d1d1d1;")
              tbody
                tr
                  td
          .row(style='background-color:white;')
            .col-md-1
              span
                img(src="img/question-mark.png" height="25")
            .col-md-11(style="padding-top:px;")
              span(style='font-size:16;color:#4885ed;') 
                span(style="font-weight:bold;") Reason for Visit
          .row(style='background-color:white;padding-top:0px;')
            .col-md-1
            .col-md-11(style="padding-right:13px;padding-bottom:16px;")
              span(style='font-size:12;') CBC by accepting these terms and conditions, i warrant that i have completed 18 year of the age ondate of the agreement and i have full read and. understood the terms and conditions as set forth in this agreement , without, or any other health or other problem that could impair judgment. 
          .row(style='background-color:white;')
            .col-md-1
              span
                img(src="img/history.png" height="25")
            .col-md-11(style="padding-top:px;")
              span(style='font-size:16;color:#4885ed;')
                span(style="font-weight:bold;") Past Medical History
          .row(style='background-color:white;')
            .col-md-1
            .col-md-11(style="padding-right:13px;padding-bottom:15px;")
              span(style='font-size:12;') CBC by accepting these terms and conditions, i warrant that i have completed 18 year of the age ondate of the agreement and i have full read and. 
          .row(style='background-color:white;')
            .col-md-1
              span
                img(src="img/rx.png" height="25")
            .col-md-11(style="padding-top:px;")
              span(style='font-size:16;color:#4885ed;')
                span(style="font-weight:bold;") Rx
          .row(style='background-color:white;')
            .col-md-1
            .col-md-11(style="padding-right:0px;padding-bottom:15px;font-size:12;")
              .row(style='padding-left:12px;')
                span(style="font-weight:bold;") 1.&nbsp;&nbsp;&nbsp;< Name >
                .row
                  .col-md-1
                  .col-md-5(style="") < Quantity > < Unit > < route >
                  .col-md-6 < Frequency > < Duration > 
              .row(style='padding-left:12px;padding-top:12px;')
                span(style="font-weight:bold;") 2.&nbsp;&nbsp;&nbsp;< Name >
                .row
                  .col-md-1
                  .col-md-5(style="") < Quantity > < Unit > < route >
                  .col-md-6 < Frequency > < Duration >
                .row
                  .col-md-1
                  .col-md-11(style="padding-top:0px;")
                    i() < Notes >
          .row(style='background-color:white;')
            .col-md-1
              span
                img(src="img/investigation.png" height="25")
            .col-md-11(style="padding-top:px;")
              span(style='font-size:16;color:#4885ed;')
                span(style="font-weight:bold;") Investigations Ordered
          .row(style='background-color:white;')
            .col-md-1
            .col-md-11(style="padding-right:0px;padding-bottom:16px;font-size:12;")
              .row
                .col-md-12 1.CBC
              .row
                .col-md-12 2.Diabetic Profile
              .row
                .col-md-12 3.USB Abdomen
          .row(style='background-color:white;')
            .col-md-1
              span
                img(src="img/diagnosis.png" height="25")
            .col-md-11(style="padding-top:px;")
              span(style='font-size:16;color:#4885ed;font-weight:bold;') Diagnosis
          .row(style='background-color:white;')
            .col-md-1
            .col-md-11(style="padding-right:0px;padding-bottom:16px;")
              span(style='font-size:12;') Diabetes, Hypertension, Allergic, Rhinitis
          .row(style='background-color:white;')
            .col-md-1.col-xs-0
              span
                img(src="img/notes.png" height="25")
            .col-md-11.col-xs-11(style="padding-top:px;")
              span(style='font-size:16;color:#4885ed;font-weight:bold;') Notes
          .row(style='background-color:white;')
            .col-md-1.col-xs-0
            .col-md-11.col-xs-11(style="padding-right:13px;padding-bottom:10px;")
              span(style='font-size:12;') CBC by accepting these terms and conditions, i warrant that i have completed 18 year of the age ondate of the agreement and i have full read and.
          .row(style='background-color:white;text-align:center;font-weight:bold;font-size:16;padding-top:15px;')
            span(style='') IN-CLINIC VISIT ADVISED
          .row(style='background-color:white;padding-top:10px;padding-bottom:5px;')
            table(width="97%" border="0" style="border-bottom:1px solid #d1d1d1;")
              tbody
                tr
                  td
          .row(style='background-color:white;')
            .col-md-3.col-xs-3(style="font-size:12;") Prescribed via
            .col-md-9.col-xs-9(style="font-size:12;padding-left:1px;padding-right:0px;") This is computer generated Prescription & does not required signature
          .row(style='background-color:white;')
            .col-md-4.col-xs-4(style="padding-left:1px;padding-top:0px;")
              span
                img(img src="img/bonadea.jpg" height="90")
            .col-md-3.col-xs-0
            .col-md-5.col-xs-5(style="padding-right:0px;padding-top:10px;font-size:12;")
              .row
                span(style="font-weight:bold;font-size:19;") < Dr. Name >
              .row
                span Reg No.12345
              .row
                span Medical Council of India
        .col-md-3.col-xs-0